<!DOCTYPE html>
<html>
<head>
  <title>Tacostagram</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>
  <div>
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>
  </div>

  <div>
    <a href="/">Home</a>
    <% if session[:user_id] %>
   <form action="/logout" method="post" style="display:inline;">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Logout">
   </form>
   <% else %>
    <a href="/login">Login</a>
   <a href="/users/new">Signup</a>
  <% end %>

  </div>

  <%= yield %>
</body>
</html>
